        select {
                padding: 5px;
                border: 1px solid #ccc;
                border-radius: 2px;
                background-color: wheat;
                color: #333;
                text-align:center;
                width:200px;
                font-size:20px;
        }
        /* .container {
            border:solid wheat;
            border-radius:  30px;
            padding: 10px;
            background-color: #343a40;
            border-width: 5px;
            border-style: solid;
            border-image: 
                            linear-gradient(
                        to bottom, 
                        wheat, 
                        rgba(0, 0, 0, 0)
                        ) 1 100%;

                        
        } */
        input[type=text],
        input[type=date],
        input[type=password] {
            font-size: 20px;
            font-family: 'Times New Roman', Times, serif;
            max-width: 60%;
            padding: 1rem;
            /* color: transparent; */
            background-color:#303438;
            /* border-width: 10px; */
            border-style:dotted;
            border-radius:20px;
            /* border-style: solid; */
            border-image: 
                linear-gradient(
                                to bottom,
                                wheat,
                                rgba(0, 0, 0, 0)
                                ) 1 10%;
            width: 60%;
            height: 8%; 
            /* border-left:groove; */
            margin-left: 180px;
            color: white;
        }
        
        b{
            font-size:20px;
        }
        label{
            color: rgba(255,255,255,.5);
            margin-left: 180px; 
            font-size:30px;
        }
        b{
            font-size:25px;
        }

        .class3{
            font-size: 30px; 
            margin-left:420px; 
            font-family: 'Times New Roman', Times, serif; 
            color: white;
            border-style: solid;
            border-image: 
                linear-gradient(
            to bottom, 
            wheat, 
            rgba(0, 0, 0, 0)
            ) 1 10%;
        }
        .class2{
            margin-left: 180px;
            font-size:20px;
            max-width: 60%;
            padding: 1rem;
            color: white;
            background-color:#343a40;
            text-align:center;  
            border-radius: 20px;
            border-style: dotted;
            border-image: 
                linear-gradient(
                                to bottom,
                                wheat,
                                rgba(0, 0, 0, 0)
                                ) 1 10%;
            width: 60%;
            height: 8%; 
        }
        .form-control{
            
            margin-left: 180px;
            font-size:20px;
            max-width: 60%;
            padding: 1rem;
            color: white;
            background-color:#343a40;
            text-align:center;
            /* border-width: 10px; */
            border-style:solid;
            /* border-style: solid; */
            border-image: 
                linear-gradient(
                                to bottom,
                                wheat,
 
                                rgba(0, 0, 0, 0)
                                ) 1 10%;
            width: 10%;
            height: 8%; 
        
        }
        .form-control1{
            margin-left: 180px;
            font-size:20px;
            max-width: 60%;
            padding: 1rem;
            color: black;
            background-color:#343a40;
            text-align:center;
            /* border-width: 10px; */
            border-style:solid;
            /* border-style: solid; */
            border-image: 
                linear-gradient(
                                to bottom,
                                wheat,
 
                                rgba(0, 0, 0, 0)
                                ) 1 10%;
            width: 60%;
            height: 8%; 
        
        }